PROJECT_NAME = sugarcane
DEBUG = True

ALLOWED_HOSTS = localhost

EXPOSED_CANE_SERVER_PORT = 5050
EXPOSED_CANE_DJ_PORT = 8850
EXPOSED_REDIS_PORT = 63792

CANE_DATABASE_NAME = sugarcane
CANE_DATABASE_USER = sugarcane
CANE_DATABASE_PASSWORD = sugarcane

EXPOSED_DATABASE_PORT = 5438

SECRET_KEY = "django-secure-key"

REDIS_HOST_CANE = 'redis'
REDIS_PORT_CANE = 6379
REDIS_DB_CANE = 1

CANE_SERVER_LISTEN_PORT = 5000
CANE_SERVER_LISTEN_HOST = '0.0.0.0'

R_PREFIX = "cane:"
MASTER_KEY = "MASTER"
EXPIRED_PREFIX = "EXPIRED"
EXPIRED_TTL = 86400

MASTER_TTL = 10
NODES_TTL = 100

NODE_API_URL = "http://localhost:5050/cdn/get/{version}/{node_name}"

REDIS_HOST_DEMO = 'redis'
REDIS_PORT_DEMO = 6379
REDIS_DB_DEMO = 2

DEMO_APP_CANE_SERVER_HOST = "http://sugarcane:8000"
DEMO_APP_HOST = "localhost"
DEMO_APP_PORT = 5000

DEMO_APP_R_PREFIX_NODE = "CC:NODE:"
DEMO_APP_R_PREFIX_MASTER = "CC:MASTER:"
