{% extends 'base.html' %}

{% block content %}

<style type="text/css">
    .node-container {
        display: flex;
        flex-wrap: wrap;
        /* Prevent wrapping */
        overflow-x: auto;
        /* Add horizontal scroll if needed */
        gap: 20px;
    }

    .item {
        flex: 0 0 auto;
        /* Let items shrink to fit */
        max-width: calc(33.333% - 20px);
        min-width: 200px;
        background-color: lightblue;
        /* Adjust the width of each item */
        border: 1px solid lightblue;
        text-align: center;
    }

    .item img {
        max-width: 100%;
        height: 300px;
        display: block;
    }
</style>


<div class="row">
    <div class="col-md-2">
        <strong>MASTER</strong>
    </div>
    <div class="col-md-5">
      Last modified : {{ master_data.updated_on }}
      <br />
          <small>{{master_data.updated_on|humanize_delta}} ago</small>
            </small>
    </div>
    <div class="col-md-5">
      Expires on : {{ master_data.expires_on }}
      <br />
          <small> in {{master_data.expires_on|humanize_delta}} </small>
            </small>
    </div>
  </div>
<div class="row">
    <div class="col-md-12">
        <hr />
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <h4> You are browsing</h4>
        <h3>NODE : {{ node_data.node }}</h3>
        <br />
        Last modified : {{ node_data.updated_on }}
        <br /><small>{{node_data.updated_on|humanize_delta}} ago</small>
        <br />
        Expires on : {{ node_data.expires_on }}
        <br /><small>in {{node_data.expires_on|humanize_delta}}</small>
        <hr />
        <a href="{{ url_for('index') }}">Back to Master</a>
    </div>
    <div class="col-md-8">

        <div class="node-container">
            {% for single in node_data.data %}
            <div class="item">
                <img src='{{single.value}}' defer>
                <br />
                <p>{{single.id}}</p>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}